<% if logged_in? %>
  <div class="row">
    <div class="col-md-8">
      <h3>今週切れそうなもの</h3>
        <table>
          <tr>
            <th>名前</th>
            <th>在庫数</th>
            <th>消費日数</th>
            <th>編集</th>
            <th>削除</th>
          </tr>
          <%= render "shared/feed" %>
        </table>
    </div>
  </div>

  <%
=begin%>
 <div>
    買い物メモ
  </div>
<%
=end%>

<% else %>
  <h1>HomeStockManager</h1>
    <div class="center jumbotron">
      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
<% end %>
