<% if logged_in? %>
  <div class="row">
    <div class="col-md-8">
      <h3>(<%= Time.zone.today.strftime("%m.%d") %>)1週間で切れそう</h3>
        <table>
          <%= render "shared/item_table" %>
          <%= render "shared/feed" %>
        </table>
    </div>
  </div>

  <%
=begin%>
 <div>
    買い物メモ
  </div>
<%
=end%>

<% else %>
  <h1>HomeStockManager</h1>
    <div class="center jumbotron">
      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
<% end %>
