
<h1>Home Stock Manager</h1>

<p><%= @user.name %>さんご登録ありがとうございます</p>

<p>下記リンクを押して、アカウントの本登録が完了いたします！</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
