<h2>Mypage</h2>

<div>
  <%= link_to "管理アイテム一覧ページ", user_items_path(@user)%>
</div>

<div>
  <%= link_to "カテゴリー一覧ページ", user_main_categories_path(@user) %>
</div>

<div>
  <%= link_to "プロフィール編集画面", edit_user_path %>
</div>
