<div class="container">
<h1>カテゴリー管理</h2>
<%= link_to new_user_main_category_path(@user), class: "btn btn-primary mx-auto" do %>
  カテゴリー作成
<% end %>

<div class="table-container">
  <table>
  <tr>
    <th>カテゴリー名</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

      <%= render partial: "main_category", collection: @main_categories %>
  </table>
  </div>
</div>
