<h2>カテゴリー一覧</h2>

<%= link_to "  (新規カテゴリーを作成)", new_user_main_category_path(@user) %>
  <table>
  <tr>
    <th>カテゴリー名</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

      <%= render partial: "main_category", collection: @main_categories %>
  </table>
