<div class="container">
<h1>管理アイテム編集画面</h2>
  <div class="item-edit">
        <%= render "shared/item_form" %>
       <button class="btn btn-primary mx-auto" onclick="history.back()">戻る</button>

  </div>
</div>
