<% if logged_in? %>

  <div>
    <aside class="col-md-4">
      <section class="item_form">
        <%= render "shared/item_form" %>
      </section>
    </aside>
  <h2>管理アイテム一覧</h2>

    <% if @user.items.any? %>
    <div class="col-md-8">
        <table>
          <tr>
            <th>名前</th>
            <th>在庫数</th>
            <th>消費日数</th>
            <th>編集</th>
            <th>削除</th>
          </tr>
          <%= render "shared/feed" %>
        </table>
    </div>
    <% end %>
  </div>

<% else %>
  <%= render signup_path %>
<% end %>
