<% if logged_in? %>

    <aside class="col-md-3">
    <h3>管理アイテムの作成</h3>
      <section class="item_form">
        <%= render "shared/item_form" %>
      </section>
    </aside>

  <div class="col-md-8">
    <h1>管理アイテム一覧</h2>

    <% if @user.items.any? %>

        <table>
          <%= render "shared/item_table" %>
          <%= render "shared/feed" %>
        </table>
    </div>
    <% end %>
  </div>

<% else %>
  <%= render signup_path %>
<% end %>
