@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  background-color: rgb(255, 239, 214);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

h1, h3{
  padding-bottom: 10%;
}

h3{
  margin-top: 10%;
}


// header
header.navbar {
  position: fixed;
  border-radius: 0;
  height: 60px;
}

.icon {
  float: left;
  padding-left: 10px;
  height: 50px;
}

// // static-home

.title {
  margin-left: 50px;
  font-size: 45px; /* 必要に応じてフォントサイズを調整 */
}

.sub_title{
  margin-bottom: 0;
  padding: 0 70px; /* 左右のパディングを追加 */
  font-size: 18px; /* 必要に応じてフォントサイズを調整 */
}

.flash-message {
  float: center;
  padding-top: 10px;
  margin: 0;
  border-radius: 5px;
}

.not_opacity > .btn {
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  color: black;
  background-color: rgb(255, 176, 65);
  border-color:  rgb(255, 176, 65);
}

.signup {
  margin-top: 350px;
  margin-right: 15%;
  font-size: 18px;
  font-weight: bold;

}

.home-top-background {
  background-image: url('home_top.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh; /* 画面全体の高さ */
  width: 100%; /* 画面全体の幅 */
  padding-top: 50px;

}

.home-top-background::after{
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
}

.home-top-background> .not_opacity{
  position: relative;
  z-index: 3;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.button-container .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 60%; /* ボタンの内側の余白を調整 */
  font-size: 16px; /* フォントサイズを調整 */
  text-align: center;
}

.item-list {
  padding: 10px;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 30px;
}


.item-list td {
  border-bottom: 1px solid black;
}


// login
.form-control{
  margin-bottom: 20px;

}

.btn {
  display: block;
  width: 30%;
  margin-bottom: 10px;
  padding: 15 0;
  color: black;
  background-color: rgb(255, 176, 65);
  border-color:  rgb(255, 176, 65);
}

// password-reset


// signup

// Mypage
.setting{
  text-align: center;
  margin: 40px;
  padding: 10px;
  font-size: 21px;
}

//category
.table-container{
  width: 80%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;

}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  font-weight: bold;
}


// item index
aside{
  margin-left: 40px;
}

.h2 {
  display: center;
}


//item edit
.item-edit{
  margin: 0 30% 0 30%;
}
